@{
    ViewBag.Title = "Home";
}

<div>
    <h1>Sam's Business Login App</h1>
    <p>Click below to log into the system and see other users, or click Register to add your details to the database</p>
    <p><a href='@Url.Action("Login", "Users")' class="btn btn-primary btn-lg">Log In &raquo;</a></p>
</div>

<div>
    <img src="~/Images/731---w-400_h-200_zc-1_q-60.jpeg" style="vertical-align:middle">
</div>