@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cricket</h1>

<img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjdl7W-he7jAhUgAWMBHbE2DmkQjRx6BAgBEAU&url=https%3A%2F%2Fwww.foxsports.com.au%2Fcricket%2Faustralia%2Faustralia-v-england-in-first-one-day-international-at-melbourne-cricket-ground%2Fnews-story%2F6c564f136dd8f6db7744de316ac2c472&psig=AOvVaw0sKLio9IIjDxdpcEq6UPto&ust=1565173928881151" width="200" />

