
@{
    ViewBag.Title = "SamsPage";
}

<h2>SamsPage</h2>

<p> Hey! This is a new page!</p>

<ul>
    <li>one</li>
    <li>two</li>
    <li>three</li>
    <li>four</li>
    <li>five</li>
</ul>

<hr \ />

<h1>Custom List</h1>